[class*=" font-preview-"],
[class^="font-preview-"] {
  background-size: 30em auto;
  background-repeat: no-repeat;
  height: 2em;
  image-rendering: optimizequality;
}
.font-preview-bickleyscript,
.font-preview-on-all {
  background-image: url(sprite.1.1x.svg);
}
.font-preview-bickleyscript{ background-position: 0px -0em }